<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <clear />
    <add name="disEntities" providerName="System.Data.SqlClient" connectionString="Data Source=.\DISSQL;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL11.DISSQL\MSSQL\DATA\dis.mdf;Integrated Security=True;User Instance=false;Initial Catalog=dis"/>
  </connectionStrings>


</configuration>